{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add filesystem</title>
</head>
<body>
    <form action="{% url 'Filesystem:add' %}" method="post">{% csrf_token %}
        <input type="text" name="pool" placeholder="pool name">
        <input type="text" name="name" placeholder="file system name">
        <input type="text" name="size" placeholder="file system size">
        <button type="submit">submit</button>
    </form>
    
</body>
</html>