{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>file systems</title>
</head>
<body>
    {% if msg %}
        <p>{{msg}}</p>
    {% endif %}
    {% if context %}
        {{context}}
    {% endif %}
                <form action="" method="post">{% csrf_token %}<input type="text" , name="lvname"><button type="submit">remove</button></body></form>  

    <p>this is the file system details page</p>
    <form action="{% url 'Filesystem:add' %}">
        <button type="submit">add</button>
    </form>
    
</body>
</html>