{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>host details</title>
</head>
<body>
    <Table>
        <tr>
            <th >host name</th>
            <th>ip address</th>
        </tr>
        {% for ob in detail %}
        <tr>
            <td>{{ob.Name}}</td>
            <td>{{ob.IpAddress}}</td>
            <form action="{% url 'Host:remove' name=ob.Name %}"><button type="submit">remove</button></form>
        </tr>
        {% endfor %}
    </Table>
    {% if msg %}
    {{msg}}
    {% endif%}
    <p></p>
    <form action="{% url 'Host:add' %}">
        <button type="submit">Add Host</button>
    </form>
</body>
</html>